@use "sass:color";

.productCategory {
  background: var(--color-3);
  display: flex;
  flex-direction: column;
  width: 270px;
  align-items: center;
  border-radius: 16px;

  .contCategoryTitle {
    color: black;
    background: var(--color-3-bright);
    width: 100%;
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: unset;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contCategoryContent {
    background: var(--color-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    border-radius: 16px;
  }

  .scrolleable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    width: -webkit-fill-available;
    padding: 8px;
  }
}
