.login {
  border-radius: 32px;
  align-items: center;
  width: 420px;
  margin: 40px auto;
  position: relative;

  .text-mask-svg {
    border-start-end-radius: 16px;
    border-start-start-radius: 16px;
  }

  .text-mask {
    fill: var(--color-2);
  }

  .bg {
    position: absolute;
    z-index: -1;
    inset: -4px;
    border-radius: 16px;
    overflow: hidden;
    filter: blur(8px);
    transition: filter 0.3s;
    margin: unset;
  }

  .bg::before {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    min-width: 150%;
    min-height: 150%;
    background-image: conic-gradient(
      #4f1c51 0deg,
      #4f1c51 40deg,
      #a55b4b 90deg,
      #dca06d 130deg,
      #4f1c51 180deg,
      #4f1c51 220deg,
      #a55b4b 270deg,
      #dca06d 310deg,
      #a55b4b 360deg
    );
    animation: speeen 4s linear infinite;
    transform-origin: 0% 0%;
    transform: rotate(0deg) translate(-50%, -50%);
  }

  @keyframes speeen {
    from {
      transform: rotate(0deg) translate(-50%, -50%);
    }

    to {
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }

  .wrapper {
    background-color: var(--color-2);
    padding: 24px;
    margin: unset;
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    margin-top: -9px;
  }

  //

  h1 {
    letter-spacing: 0.03em;
    margin: 0;
  }

  > div {
    text-align: center;
    margin: 16px 0px;
    font-size: 24px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    margin-top: 10px;

    .form-group {
      display: flex;
      flex-direction: column-reverse;
      gap: 6px;
      input,
      select {
        border-style: none;
        padding: 7px 10px;
        border-radius: 7px;
        font-size: 24px;
        outline: none;
        background-color: var(--color-3);
        color: black;
        transition: border 0.2s;
        &:focus {
          border-color: #dca06d;
        }
      }
      input::placeholder {
        color: black;
        font-size: 24px;
      }
      label {
        font-size: 24px;
        letter-spacing: 0.01em;
      }
    }

    .enter-btn {
      margin-top: 18px;
      padding: 10px 22px;
      background: var(--color-3);
      color: black;
      font-weight: bold;
      border-radius: 9px;
      border: none;
      cursor: pointer;
      font-size: 24px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      transition: background 0.3s;
      &:hover {
        background: var(--color-3-bright);
      }
      &:active {
        background: var(--color-3-dark);
      }
    }

    .error {
      color: #c33;
      font-size: 24px;
      margin-bottom: -10px;
      text-align: center;
    }
  }
}
