.Button {
  .customButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .customButton {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 55px;
      height: 25px;
      width: fit-content;
      padding: 0 10px;
      border-radius: 8px;
      background-color: var(--color-4);
      color: black;
      cursor: pointer;
      user-select: none;
      overflow: hidden;
      outline: none;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
      transition: color 300ms cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 300ms cubic-bezier(0.25, 0.8, 0.25, 1),
        box-shadow 300ms cubic-bezier(0.25, 0.8, 0.25, 1);

      .inner {
        font-size: 20px;
        pointer-events: none;
        transform: translateY(0px);
        transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }

    .customButton:hover {
      background-color: var(--color-4-bright);
      box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
      .inner {
        transform: translateY(-2px);
      }
    }

    .customButton.active {
      background-color: var(--color-4);
      box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
      .inner {
        transform: translateY(-2px);
      }
    }

    .customButton.active:hover {
      background-color: var(--color-4);
      box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
    }

    .customButton:active {
      background-color: rgba(0, 0, 0, 0.16);
      color: rgba(0, 0, 0, 0.7);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
      .inner {
        transform: translateY(-2px);
      }
    }
  }
}
