.infoContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  h2 {
    font-size: 29px;
    color: black;
    background: var(--color-3-bright);
    margin: unset;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
  }

  .button {
    width: fit-content;
    position: absolute;
    bottom: 0px;
  }
}
