.InfoContainer {
  .floatingInfoContainer {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: var(--color-3);
    color: black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1920px) {
      right: calc(
        50% - 900px
      ); // Adjust as needed to bring it closer to the center
    }
  }

  .floatingInfoContainerPointer {
    @extend .floatingInfoContainer;
    cursor: pointer;
    // grow animation stuff might help reduce blur
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out;
  }

  .floatingInfoContainerPointer:hover {
    transform: scale(1.15);
  }
}
