.topTip {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9; // on top of most things
  background-color: var(--color-3);
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 8px 8px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  width: fit-content; // Or use max-width if needed
  margin-bottom: 0; // Margin doesn’t affect fixed, see note below
}
