.cartContainer {
  .floatingCartContainer {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: var(--color-3);
    color: black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1920px) {
      right: calc(
        50% - 900px
      );
    }
  }

  .floatingCartContainerPointer {
    @extend .floatingCartContainer;
    cursor: pointer;

    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out;
  }

  .floatingCartContainerPointer:hover {
    transform: scale(1.15);
  }
}
