.cartCheckout {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  h3 {
    font-size: 26px;
    color: black;
    background: var(--color-3-bright);
    width: 100%;
    margin: unset;
    padding: 5px 0px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
  }

  .rowBig {
    @extend .row;
    font-size: 24px;
  }

  .rowSmall {
    @extend .row;
    font-size: 20px;
  }

  .hoverText {
    color: var(--color-1); /* Blue like a link */
    cursor: pointer; /* Show hand cursor on hover */
    transition: color 0.2s; /* Smooth color change */
  }

  .hoverText:hover {
    color: var(
      --color-4-brighter
    ); /* Change to orange on hover, or your accent color */
    text-shadow: 0 2px 8px rgba(255, 102, 0, 0.15); /* Soft glow on hover (optional) */
    text-decoration: underline; /* Optional: underline like a link */
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: auto;
    height: 100%;
    overflow-y: auto;
    padding: 0px 8px;
  }

  .cartContentFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    margin-top: auto;
    margin-bottom: 0px;
  }

  .middleMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
